.administration {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 0 0 20%; /* 20% de la largeur de la page */
    background-color: #f8f9fa;
}

.main-content {
    flex: 1 0 80%; /* 80% de la largeur de la page */
    padding: 20px;
    overflow-y: auto;
}
