.semestre-wrapper1 {
    display: flex;
    padding-left: 0px;
    padding-top: 0px;
    
}

.menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure the icon is above other content */
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: white;
    transition: transform 0.3s ease;
    
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-visible {
    transform: translateX(0);
}

.cours-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    margin-top: 100px;
    margin-right: 5px;
}

.sidebar-visible + .cours-form {
    margin-left: 250px; /* Adjust as per your sidebar width */
}

.sidebar-hidden + .cours-form {
    margin-left: 0;
}

.header {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.content-sections {
    display: flex;
    gap: 20px;
}

.content-left {
    flex: 2; /* Larger column */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.content-right {
    flex: 1; /* Smaller column */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2, h3 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="file"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.published-chapters h3{
    
    color:brown ;
}
.published-chapters h2 {
    color: #555;
    text-decoration: underline;
}
