.sidebar {
    flex-direction:column;
    gap: 15px;
    width: 100%;
    max-width: 250px;
    background-color: white;
    transition: transform 0.3s ease;
    height: 230px;
    padding-top: 50px;

}
.sidebar-item {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    margin: 0px 10px;
    padding: 2px 10px;
    border-radius: 6px;
    background-color: rgb(253, 253, 249);
    gap: 20px;
    cursor: pointer;
}
.image{
    
    padding: 10px 10px ;
}
@media (max-width: 800px) {
    .sidebar {
        padding: 30px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .sidebar-item {
        margin: 0;
    }
}

.tache-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top:  120px;
    margin-left: 0px;
    margin-right: 20px;
    
    
}

.tache {
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 8px;
    text-align: center;
}



h3 a {
    text-decoration: none;
    color: #000;
}


